* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Aileron";
  src: url("../teacher_images/aileron.heavy.otf");
  font-weight: 800;
}

.title-text,
h1, h2, h3 {
  font-family: "Aileron", sans-serif;
  font-weight: 800;
  letter-spacing: 0.3px;
}

/* body */
body {
  background: linear-gradient(#72a4ee, #3757c0);
  color: #0d1b2a;
}

/* header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(251, 251, 251, 0.666);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 18px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;

    position: sticky;
  position: relative;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo-title img {
  width: 58px;
}

.menu {
  font-size: 32px;
  cursor: pointer;
  user-select: none;
}

/*footer*/
footer {
  margin-top: 60px;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(251, 251, 251, 0.297);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}

/* Style for each footer section */
.footer-left, .footer-icons, .footer-right {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-bottom-text {
  width: 100%;
  text-align: center;
  font-size: 14px;     
  color: #555;
  font-style: italic;
  margin-top: 20px;
  padding-top: 10px; 
}

.nav-menu {
  position: absolute;
  top: 85px;
  right: 40px;
  width: 230px;
  background: #e4d2a8;
  border-radius: 15px;
  padding: 10px 0;
  display: none;
  flex-direction: column;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
  animation: fadeIn 0.25s ease-out;
}

.nav-menu a {
  padding: 15px 22px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  transition: 0.2s;
}

.nav-menu a:last-child {
  border-bottom: none;
}

.nav-menu a:hover {
  background: rgba(255,255,255,0.45);
  padding-left: 28px;
}

.nav-menu.active {
  display: flex;
}


.footer-icons img {
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.footer-icons img:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {

  /* HEADER */
  header {
    padding: 14px 20px;
  }

  .logo-title img {
    width: 46px;
  }
  /* FOOTER */
  footer {
    flex-direction: column;
    gap: 18px;
    text-align: center;
    padding: 24px 20px;
  }

  .footer-icons img {
    margin: 0 6px;
  }
}
