body{
  margin:0;
  font-family:'Montserrat',sans-serif;
  background:linear-gradient(#72a4ee, #3757c0);
  color:#fff;
}

@font-face {
    font-family: "Aileron";
    src: url(../teacher_images/aileron.heavy.otf); 
    font-weight: 800;
}


.container{
  max-width:1200px;
  margin:auto;
  padding:40px 30px 80px;

  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:40px;
}

.section_special 
{
  margin:auto;
  background:#3e63d9;
  border-radius:28px;
  padding:30px;
  margin-bottom:40px;
}

.section{
  background:#3e63d9;
  border-radius:28px;
  padding:30px;
  margin-bottom:40px;
}


.section-title{
  background:#45c4ff;
  padding:14px 22px;
  border-radius:20px;
  font-weight:800;
  margin-bottom:25px;
  color:#000;
}

.rank{
  background:#fffcd6;
  color:#000;
  padding:14px 20px;
  border-radius:18px;
  margin-bottom:12px;
  font-weight:700;
}

.subject-title{
  margin-top:25px;
  margin-bottom:10px;
  font-weight:800;
  text-transform:uppercase;
}

