body{
  margin:0;
  font-family:'Montserrat',sans-serif;
  background:linear-gradient(#72a4ee, #3757c0);
  color:#fff;
}

@font-face {
    font-family: "Aileron";
    src: url(../teacher_images/aileron.heavy.otf); 
    font-weight: 800;
}
/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Aileron";
    background: rgba(251, 251, 251, 0.666);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 18px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}


.logo-title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-title img {
    width: 55px;
}

.menu {
    font-size: 32px;
    font-weight: 900;
    cursor: pointer;
    user-select: none;
}

/* menu */
.nav-menu {
    position: absolute;
    top: 85px;
    right: 40px;
    width: 230px;
    background: #e4d2a8;
    border-radius: 15px;
    padding: 10px 0;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0,0,0,0.25);
    animation: fadeIn 0.25s ease-out;
}

.nav-menu a {
    padding: 15px 22px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    transition: 0.2s;
}

.nav-menu a:last-child {
    border-bottom: none;
}

.nav-menu a:hover {
    background: rgba(255,255,255,0.45);
    padding-left: 28px;
}


.container{
  max-width:1200px;
  margin:auto;
  padding:40px 30px 80px;
}

.section{
  background:#3e63d9;
  border-radius:28px;
  padding:30px;
  margin-bottom:40px;
}

.section-title{
  background:#45c4ff;
  padding:14px 22px;
  border-radius:20px;
  font-weight:800;
  margin-bottom:25px;
  color:#000;
}

.rank{
  background:#fffcd6;
  color:#000;
  padding:14px 20px;
  border-radius:18px;
  margin-bottom:12px;
  font-weight:700;
}

.subject-title{
  margin-top:25px;
  margin-bottom:10px;
  font-weight:800;
  text-transform:uppercase;
}


/* footer */
footer {
    margin-top: 60px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    background: rgba(251, 251, 251, 0.297);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.footer-icons img {
    width: 28px;
    margin-right: 10px;
    cursor: pointer;
}